{
  "Token": "dev-token-change-me",
  "Server": {
    "BindHost": "0.0.0.0",
    "ControlPort": 7000,
    "HttpPort": 8080,
    "PublicHost": "127.0.0.1"
  },
  "Client": {
    "ServerHost": "127.0.0.1",
    "ServerPort": 7000,
    "Tunnels": [
      {
        "Id": "api",
        "LocalHost": "127.0.0.1",
        "LocalPort": 9001,
        "ForwardHost": "your-intranet-ip:9001",
        "RewriteResponsePaths": true,
        "DedicatedHttpPort": 0
      },
      {
        "Id": "timer",
        "LocalHost": "127.0.0.1",
        "LocalPort": 5001,
        "ForwardHost": "your-intranet-ip:5001",
        "RewriteResponsePaths": true,
        "DedicatedHttpPort": 0
      },
      {
        "Id": "admin",
        "LocalHost": "127.0.0.1",
        "LocalPort": 80,
        "ForwardHost": "your-intranet-ip",
        "RewriteResponsePaths": false,
        "DedicatedHttpPort": 8081
      }
    ]
  }
}
